<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781233686751-0bn24262tqp06fimnmembrsmdo3mlqrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781233686751-0bn24262tqp06fimnmembrsmdo3mlqrc</string>
	<key>API_KEY</key>
	<string>AIzaSyBAY8YXXNI41l9WMkWBNnIFvjtxtUcbp0U</string>
	<key>GCM_SENDER_ID</key>
	<string>781233686751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yesnomakura</string>
	<key>PROJECT_ID</key>
	<string>yesnomakura-d99b1</string>
	<key>STORAGE_BUCKET</key>
	<string>yesnomakura-d99b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781233686751:ios:c0a3260128899212c9c16a</string>
</dict>
</plist>